body {
    background: #0e0c0d;
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid {
  position: relative;
  height: 100vh;
  border: 1px solid;
}

.landing__wrap {
    position: relative;
}

.landing__button {
    position: absolute;
    top: 30%;
    left: 58%;
    width: 65px;
    border: 0px solid transparent;
    background: #fff;
}

.landing__img {
  position: absolute;
  top: 50%;
  left:50%;
  height: 800px;
  transform: translate(-50%,-50%);
}

a:link,
a:hover,
a:visited,
a:active {
    color: #0e0c0d;
}


/*
    Reset
*/
*:focus{
    outline: none;   
}